@model ASP_project.Models.User
<h2 class="bg-dark text-white text-center col-6">Login</h2>
<form ssp-action="Login" method="post">
    <div class="col-6">
        <label asp-for="User_Email" class="form-label">Email:</label>
        <input type="email" class="form-control" />
    </div>
    <div class="col-6">
        <label asp-for="User_Password" class="form-label">Password:</label>
        <input type="password" class="form-control" />
    </div>
    <div>
        <input type="submit" value="login" name="Login" />
    </div>











</form>
